extends layout

block header
 h3 #{data.year} 
  small #{data.month}

block content

 if data.db_code != 0
  div(class="alert alert-danger")
   center db file does not exist...   oO
 else if data.conf_code != 0
  div(class="alert alert-danger")
   center conf file does not exist...   oO
 else if data.row_count == 0
  div(class="alert alert-warning")
   center no transactions found...   oO
 else
  h2 Overview
  div(style="padding-left:13px;")
   for v,k in data.macro
    div
     span
      h3(onmouseover="this.style.cursor='pointer';" onclick="window.location='/transactions/?year=#{data.year}&month=#{data.month_number}&category=#{k}.%';") #{k}
       small(style="padding-left:13px; #{formatAmountStyle(v)}") #{formatAmount(v)}

  hr

  h2 Details
  div(style="padding-left:13px;")
   for v,k in data.micro
    div
     span
      h3(onmouseover="this.style.cursor='pointer';" onclick="window.location='/transactions/?year=#{data.year}&month=#{data.month_number}&category=#{k}';") #{k}
       small(style="padding-left:13px; #{formatAmountStyle(v)}") #{formatAmount(v)}

  br
  br