extends layout

block header
 h3 #{data.year} 
  small #{data.month}
  small(style="padding-left:13px;", onmouseover="this.style.cursor='pointer';", onclick="window.location='/transactions/?year=#{data.year}&month=#{data.month_number}'") transactions

block content

 if data.db_code != 0
  div(class="alert alert-danger")
   center db file does not exist...   oO
 else if data.conf_code != 0
  div(class="alert alert-danger")
   center conf file does not exist...   oO
 else if data.row_count == 0
  div(class="alert alert-warning")
   center no transactions found...   oO
 else
  h2 Overview
  div(id="placeholder", style="height:400px;")
  div
   div(style="padding-left:13px; width:48%; display:inline-block;")
    for v,k in data.macro
     div
      span
       h3(onmouseover="this.style.cursor='pointer';" onclick="window.location='/transactions/?year=#{data.year}&month=#{data.month_number}&category=#{k}.%';") #{k}
        small(style="padding-left:13px; #{formatAmountStyle(v)}") #{formatAmount(v)}
   div(style="padding-left:13px; padding-top:13px; width:48%; display:inline-block;")
    h3 total: 
     span(style="padding-left:13px; #{formatAmountStyle(data.total)}") #{formatAmount(data.total)}
    h3 percentage saved: 
     span(style="padding-left:13px; #{formatAmountStyle(data.percentage_saved)}") #{data.percentage_saved} %

  hr

  h2 Ignored 
   small transactions
  if data.ignore.length == 0
   div(class="alert alert-success")
    center nothing ignored...   yay!
  else
   div(class="alert alert-warning")
    center #{data.ignore.length} transactions ignored...   oO
   div(style="padding-left:13px;")
    for w in data.ignore
     div
      h3(onmouseover="this.style.cursor='pointer';" onclick="window.location='/transactions/?hash=#{w.hash}';") #{w.macro}.#{w.micro}
       small(style="padding-left:13px; #{formatAmountStyle(w.amount)}") #{formatAmount(w.amount)}

  hr

  h2 Warnings 
   small category
  if data.warnings_category.length == 0
   div(class="alert alert-success")
    center no category warnings...   yay!
  else
   div(class="alert alert-danger")
    center #{data.warnings_category.length} category warnings...   oO
   div(style="padding-left:13px;")
    for w in data.warnings_category
     div
      h3(onmouseover="this.style.cursor='pointer';" onclick="window.location='/transactions/?year=#{data.year}&month=#{data.month_number}&category=#{w.category}';") #{w.category} 
       small(style="padding-left:13px; #{formatAmountStyle(w.amount)}") #{formatAmount(w.amount)} #{w.comparison} #{formatAmount(w.limit)}
  hr

  h2 Warnings 
   small transactional
  if data.warnings_transactional.length == 0
   div(class="alert alert-success")
    center no transactional warnings...   yay!
  else
   div(class="alert alert-danger")
    center #{data.warnings_transactional.length} transactional warnings...   oO
   div(style="padding-left:13px;")
    for w in data.warnings_transactional
     div
      h3(onmouseover="this.style.cursor='pointer';" onclick="window.location='/transactions/?hash=#{w.hash}';") #{w.category} 
       small(style="padding-left:13px; #{formatAmountStyle(w.amount)}") #{formatAmount(w.amount)} #{w.comparison} #{formatAmount(w.limit)}

  hr

  h2 Details
  div(style="padding-left:13px;")
   for v,k in data.micro
    div
     span
      h3(style="display: inline-block;", onmouseover="this.style.cursor='pointer';" onclick="window.location='/transactions/?year=#{data.year}&month=#{data.month_number}&category=#{k}';") #{k}
       small(style="padding-left:13px; #{formatAmountStyle(v)}") #{formatAmount(v)}

  br
  br

block footer
 script.  
  window.onload = function() {
   $.plot('#placeholder', !{JSON.stringify(data.graph)}, {
    series: {
     pie: {
      innerRadius: 0.4,
      show: true
     }
    },
    legend: {
     show: false
    }
   });
  }
