extends layout

block header
 h3 #{data.year} 
  small #{data.month}

block content

 if data.db_code != 0
  div(class="alert alert-danger")
   center db file does not exist...   oO
 else if data.row_count == 0
  div(class="alert alert-warning")
   center no transactions found...   oO
 else
  table(class="table table-condensed table-striped")
   tr
    th year
    th month
    th day
    th amount
    th macro
    th micro
    th description
    th actions

   for transaction in data.transactions
    tr
     td #{transaction.year}
     td #{transaction.month}
     td #{transaction.day}
     td(style="#{formatAmountStyle(transaction.amount)}") #{formatAmount(transaction.amount)}
     td #{transaction.macro}
     td #{transaction.micro}
     td #{transaction.description}
     td
      span(class="glyphicon glyphicon-search", aria-hidden="true", onmouseover="this.style.cursor='pointer';")

block pre-footer
 small #{data.row_count} rows