extends layout

block header
 h3 #{data.year} 
  small #{data.month} 
  span(style="padding-left:7px; #{formatAmountStyle(data.total)}") #{formatAmount(data.total)}
  small(style="padding-left:13px;", onmouseover="this.style.cursor='pointer';", onclick="window.location='/summary/?year=#{data.year}&month=#{data.month_number}'") summary

block content

 if data.db_code != 0
  div(class="alert alert-danger")
   center db file does not exist...   oO
 else if data.row_count == 0
  div(class="alert alert-warning")
   center no transactions found...   oO
 else
  table(class="table table-condensed table-striped")
   tr
    th year
    th month
    th day
    th amount
    th macro
    th micro
    th description
    th actions

   for transaction in data.transactions
    tr
     td #{transaction.year}
     td #{transaction.month}
     td #{transaction.day}
     td(style="#{formatAmountStyle(transaction.amount)}") #{formatAmount(transaction.amount)}
     td(onmouseover="this.style.cursor='pointer';", onclick="window.location='/transactions/?year=#{data.year}&month=#{data.month_number}&category=#{transaction.macro}.%';") #{transaction.macro}
     td(onmouseover="this.style.cursor='pointer';", onclick="window.location='/transactions/?year=#{data.year}&month=#{data.month_number}&category=#{transaction.macro}.#{transaction.micro}';") #{transaction.micro}
     td #{transaction.description}
     td
      span(class="glyphicon glyphicon-search", aria-hidden="true", onmouseover="this.style.cursor='pointer';")

block pre-footer
 small #{data.row_count} rows @ 
 span(style="padding-left:7px; #{formatAmountStyle(data.total)}") #{formatAmount(data.total)}