extends layout

block import
 script(src='/js/jquery.flot.min.js')
 script(src='/js/jquery.flot.categories.min.js')

block header

block content

 if data.db_code != 0
  div(class="alert alert-danger")
   center db file does not exist...   oO
 else if data.conf_code != 0
  div(class="alert alert-danger")
   center conf file does not exist...   oO
 else if data.row_count == 0
  div(class="alert alert-warning")
   center no transactions found...   oO
 else
  h2 Total 
   small(id="s_total") -
  div(id="total", style="height:150px;")
  h2 Percentage Saved
   small(id="s_percentage_saved") -
  div(id="percentage_saved", style="height:150px;")
  h2 Macro
   small(id="s_macro") -
  div(id="macro", style="height:500px;")

  br
  br

block footer
 script.  
  window.onload = function() {
   // total
   $.plot("#total", [ !{JSON.stringify(data.total)} ], {
    series: {color: "black", lines: {show: true}, points: {show: true, radius: 1, lineWidth: 5}},
    xaxis: {mode: "categories",tickLength: 0},
    yaxis: {tickFormatter: function(val, axis) { return "<span style='"+formatAmountStyle(val)+"'>"+formatAmount(val)+"</span>";}},
    grid: {hoverable: true, clickable: true, markings: [{yaxis:{from: 0, to:0}, color:"red"}]}
   });
   $("#total").bind("plotclick", function (event, pos, item) {
    if(item) {
     var date = item.series.data[item.dataIndex][0];
     var year = date.split("-")[0];
     var month = date.split("-")[1];
     var value = item.series.data[item.dataIndex][1];
     window.location="/summary/?year="+year+"&month="+month;
    }
   });
   $("#total").bind("plothover", function (event, pos, item) {
    if(item) {
     document.getElementById("s_total").innerHTML = "<span style='"+formatAmountStyle(item.series.data[item.dataIndex][1])+"'>"+formatAmount(item.series.data[item.dataIndex][1])+"</span>";
    }
   });
   // percentage_saved
   $.plot("#percentage_saved", [ !{JSON.stringify(data.percentage_saved)} ], {
    series: {color: "black", lines: {show: true}, points: {show: true, radius: 1, lineWidth: 5}},
    xaxis: {mode: "categories",tickLength: 0},
    yaxis: {tickFormatter: function(val, axis) { return "<span style='"+formatAmountStyle(val)+"'>"+val+"%</span>";}},
    grid: {hoverable: true, clickable: true, markings: [{yaxis:{from: 0, to:0}, color:"red"}]}
   });
   $("#percentage_saved").bind("plotclick", function (event, pos, item) {
    if(item) {
     var date = item.series.data[item.dataIndex][0];
     var year = date.split("-")[0];
     var month = date.split("-")[1];
     var value = item.series.data[item.dataIndex][1];
     window.location="/summary/?year="+year+"&month="+month;
    }
   });
   $("#percentage_saved").bind("plothover", function (event, pos, item) {
    if(item) {
     document.getElementById("s_percentage_saved").innerHTML = "<span style='padding-left:7px; "+formatAmountStyle(item.series.data[item.dataIndex][1])+"'>"+item.series.data[item.dataIndex][1]+" %</span>";
    }
   });
   // macro
   var macro_data = Array();
   var macro_json = !{JSON.stringify(data.macro)};
   var macro_cache = {};
   var date_cache = Array();
   for(var i=0; i < macro_json.length; i++ ) {
    var entry = macro_json[i];
    var date = entry[0];
    date_cache.push(date);
    var macros = entry[1];
    for(var k in macros) {
     var v = macros[k];
     if(k in macro_cache) {
      macro_cache[k].push([date, v]);
     } else {
      macro_cache[k] = Array();
      macro_cache[k].push([date, v]);
     }
    }
   }
   // make sure each macro_cache entry has a value for each date
   for(var i=0; i < date_cache.length; i++ ) {
    var date = date_cache[i];
    for(var macro in macro_cache) {
     var data = macro_cache[macro];
     var need_to_add = false;
     if(i >= data.length) {
      need_to_add = true;
     } else if(data[i][0] != date) {
      need_to_add = true;
     } else {}
     if(need_to_add) {
     macro_cache[macro].splice(i, 0, [date,0]);
     }
    }
   }
   //
   for(var macro in macro_cache) {
    macro_data.push({data: macro_cache[macro], label: macro});
   }
   macro_plot = $.plot("#macro", macro_data , {
    series: {lines: {show: true}, points: {show: true, radius: 1, lineWidth: 5}},
    xaxis: {mode: "categories",tickLength: 0},
    yaxis: {tickFormatter: function(val, axis) { return "<span style='"+formatAmountStyle(val)+"'>"+formatAmount(val)+"</span>";}},
    grid: {hoverable: true, clickable: true, markings: [{yaxis:{from: 0, to:0}, color:"red"}]},
    legend: {
     show: true,
     labelFormatter: function(label, series){
      return "<a style='padding-right:7px;' onmouseover=\"this.style.cursor='pointer';\" onclick=\"togglePlot(macro_plot, '"+label+"');\">"+label+"</a>";
     },
     noColumns: 10,
     position:"nw"
    }
   });
   $("#macro").bind("plotclick", function (event, pos, item) {
    if(item) {
     var date = item.series.data[item.dataIndex][0];
     var year = date.split("-")[0];
     var month = date.split("-")[1];
     var value = item.series.data[item.dataIndex][1];
     window.location="/transactions/?year="+year+"&month="+month+"&category="+item.series.label+".%";
    }
   });
   $("#macro").bind("plothover", function (event, pos, item) {
    if(item) {
     document.getElementById("s_macro").innerHTML = "<span style='padding-left:7px; "+formatAmountStyle(item.series.data[item.dataIndex][1])+"'>"+item.series.label+" "+formatAmount(item.series.data[item.dataIndex][1])+"</span>";
    }
   });
  }
